*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f6f9;
}

.container {
    width: 700px;
    margin: 40px auto;
    padding: 40px 30px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
    background: white;
}
h1{
    text-align:center;
    margin-bottom:30px;
    color:#333;
}
.app {
    min-height: 100vh;
    transition: 0.3s;
}


/* Theme clair */
.light {
    background-color: #f5f5f5;
    color: #222;
}


/* Theme sombre */
.dark {
    background-color: #121212;
    color: white;
}