html,
body,
body {
    transition: background-color 0.5s ease, color 0.5s ease;
}
body * {
    transition:
        background-color 0.5s ease,
        color 0.5s ease,
        border-color 0.5s ease,
        box-shadow 0.5s ease;
}
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Thème clair */

body.light {
    background: #f4f4f4;
    color: #222;
}

/* Thème sombre */

body.dark {
    background: #121212;
    color: white;
}