.header {
    width: 100%;
    max-width: 1265px;
    margin: 30px auto;
    padding: 20px 45px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 18px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);

    box-sizing: border-box;

    transition: 0.3s ease;
}


/* ===== LIGHT THEME ===== */

.light .header {
    background: white;
}


.light .logo h1 {
    color: #172554;
}


.light .theme-btn {
    background: #f3f4f6;
}



/* ===== DARK THEME ===== */

.dark .header {
    background: #1e1e1e;
    box-shadow: 0 8px 25px rgba(0,0,0,0.4);
}


.dark .logo h1 {
    color: white;
}


.dark .theme-btn {
    background: #333;
}



/* LOGO */

.logo h1 {
    margin: 0;
    font-size: 38px;
    font-weight: 800;
    letter-spacing: -1px;
}



/* BUTTON */

.theme-btn {
    width: 55px;
    height: 55px;

    border: none;
    border-radius: 50%;

    font-size: 28px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s ease;
}


.theme-btn:hover {
    transform: scale(1.1);
}



/* Responsive */

@media (max-width: 700px) {

    .header {
        padding: 15px 20px;
        margin: 20px auto;
    }

    .logo h1 {
        font-size: 28px;
    }

    .theme-btn {
        width: 45px;
        height: 45px;
        font-size: 22px;
    }
}